<h3> Create Workout</h3>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Name Of Training</label>
    <input type="text" class="form-control" id="nameOfTraining"
    [(ngModel)]="workout.nameOfTraining" name="nameOfTraining">
  </div>

  <div class="form-group">
    <label>Day Week</label>
    <input type="text" class="form-control" id="dayWeek"
           [(ngModel)]="workout.dayWeek" name="dayWeek">
  </div>

  <div class="form-group">
    <label>Start Training</label>
    <input type="text" class="form-control" id="startTraining"
           [(ngModel)]="workout.startTraining" name="startTraining">
  </div>

  <div class="form-group">
    <label>End Training</label>
    <input type="text" class="form-control" id="endTraining"
           [(ngModel)]="workout.endTraining" name="endTraining">
  </div>

  <div class="form-group">
    <label>Max People</label>
    <input type="text" class="form-control" id="maxPeople"
           [(ngModel)]="workout.maxPeople" name="maxPeople">
  </div>

  <div class="form-group">
    <label>Current People</label>
    <input type="text" class="form-control" id="currentPeople"
           [(ngModel)]="workout.currentPeople" name="currentPeople">
  </div>

  <div class="form-group">
    <label>Coach ID</label>
    <input type="text" class="form-control" id="coachId"
           [(ngModel)]="workout.coachId" name="coachId">
  </div>

  <button class="btn btn-success" type="submit">Submit</button>
</form>
