<div *ngIf="users">
  <p-table [value]="users" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" class="m-1">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>password</th>
        <th>email</th>
        <th>gender</th>
        <th>birthday</th>
        <th>phoneNumber</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.phoneNumber }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
